{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block scripts %}
{{ super() }}
{% endblock %}

{% block title %}Flask Web{% endblock %}

{% block navbar %}

{% endblock %}

{% block content %}
    <div class="container">
        {% for message in get_flashed_messages() %}
            {{ message }}
        {% endfor %}
        <div class="page-header">
            <h1>{% if known %}Hi{% else %}Hello{% endif %}, {% if name %}{{ name }}{% else %}Stronger{% endif %}</h1>

        </div>
    </div>
    {{ wtf.quick_form(form) }}
{% endblock %}