<ul class="posts">
    {% for post in posts %}
        <li class="post">
            <div class="profile-thumbnail">
                <a href="{{ url_for('main.user', user_name=post.author.user_name) }}">{{ post.author.user_name }}</a>
            </div>
            <div class="post-date">
                {{ moment(post.timestamp).fromNow() }}
            </div>
            <div class="post-author">
                <a href="{{ url_for('main.user', user_name=post.author.user_name) }}">
                    {{ post.author.user_name }}
                </a>
            </div>
            <div class="post-body">
                {% if post.body_html %}
                    {{ post.body_html | safe }}
                {% else %}
                    {{ post.body }}
                {% endif %}
            </div>
            <div class="post-content">
                <a href="{{ url_for('.post', id=post.id) }}">
                    <span class="label label-default">转到</span>
                </a>
            </div>
            <div class="post-footer">
                {% if current_user == post.author %}
                    <a href="{{ url_for('.edit', id=post.id) }}">
                        <span class="label label-primary">编辑</span>
                    </a>
                {% endif %}
            </div>
        </li>
    {% endfor %}
</ul>