{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}首页{% endblock %}

{% block page_content %}
    {% if current_user.user_name %}
        <p>
        <h2>Hello, {{ current_user.user_name }}</h2>
        </p>
    {% endif %}
    <div>
        {% if current_user.can(Permission.WRITE_ARTICLES) %}
            {{ wtf.quick_form(form) }}
        {% endif %}
    </div>
    <hr>
    <a href="{{ url_for('.show_all') }}" class="label-primary label">全部用户</a>
    <a href="{{ url_for('.show_followed') }}" class="col-md-1">关注用户</a>
    <hr>
    {% include "_post.html" %}

    {% if pagination %}
        <div class="pagination">
        {{ macros.pagination_widget(pagination, '.index') }}
        </div>
    {% endif %}
{% endblock %}
