{% extends "base.html" %}
{% block title %}个人主页{% endblock %}

{% block page_content %}
    {{ super() }}
    <h1>{{ user.user_name }}</h1>
    {% if user.name or user.location %}
        <p>
        {% if user.name %}{{ user.name }}{% endif %}
        {% if user.location %}来自: <a href="https://maps.google.com/?q={{ user.location }}">{{ user.location }}</a> {% endif %}
        </p>
    {% endif %}
    {% if current_user.is_administrator() %}
        <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
    {% endif %}
    {% if user.about_me %} <p>{{ user.about_me }}</p>{% endif %}
    <p>
        注册时间: {{ user.member_since }}.
        上次登陆时间: {{ user.last_seen }}
    </p>
{% endblock %}