{% extends "base.html" %}
{% block title %}个人主页{% endblock %}

{% block page_content %}
    {{ super() }}
    <h1>{{ user.user_name }}</h1>
    {% if user.name or user.location %}
        <p>
        {% if user.name %}{{ user.name }}{% endif %}
        {% if user.location %}来自: <a href="https://maps.google.com/?q={{ user.location }}">{{ user.location }}</a> {% endif %}
        </p>
    {% endif %}
    {% if current_user.is_administrator() %}
        <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
    {% endif %}
    {% if user.about_me %} <p>{{ user.about_me }}</p>{% endif %}
    <p>
        注册时间: {{ moment(user.member_since).fromNow() }}.
        上次登陆时间: {{ moment(user.last_seen).fromNow() }}
    </p>
    {% if user == current_user %}
        <a href="{{ url_for('main.edit_profile') }}" class="btn btn-default">编辑</a>
    {% endif %}
    {% if current_user.is_administrator %}
        <a href="{{ url_for('main.edit_profile_admin', id=user.id) }}" class="btn btn-danger">管理员编辑</a>
    {% endif %}

    <hr>
    <p>
        <a href="{{ url_for('auth.change_password') }}">修改密码</a>
    </p>
    <h3>{{ user.user_name }}发表的博客</h3>
    {% include "_post.html" %}
{% endblock %}